.text {
  @media screen and (max-width: 1030px) {
    padding-top: 30px;
  }
}

.text__title {
  font-size: 31px;
  color: rgb(78, 78, 78);
  line-height: 1.2;
  font-weight: 300;

  @media screen and (max-width: 500px) {
    font-size: 20px;
  }
}

.text__column {
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  font-size: 15px;
  color: rgb(78, 78, 78);
  line-height: 1.3;
  margin-bottom: 40px;
  margin-top: 20px;
}

.text__column p {
  margin-bottom: 20px;
}

.text__color {
  color: #f59948;
  border-left: 3px solid #f59948;
  padding-left: 15px;
}

.text__quote {
  opacity: 0.7;
  position: relative;
  padding: 0 25px;
  margin-bottom: 20px;
}

.text__quote::after,
.text__quote::before {
  content: "";
  position: absolute;
  background-image: url("../img/ico/quotes.png");
  width: 16px;
  height: 15px;
}

.text__quote::after {
  top: 0px;
  left: 0px;
}

.text__quote::before {
  transform: rotate(180deg);
  bottom: 10px;
  right: 0px;
}

.text__list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 20px;
}

.text__list li::before {
  padding-right: 5px;
  opacity: 0.6;
  font-size: 11px;
}

.text__list li:nth-child(1)::before {
  content: "1.";
}
.text__list li:nth-child(2)::before {
  content: "3.";
}
.text__list li:nth-child(3)::before {
  content: "3.";
}
.text__list li:nth-child(4)::before {
  content: "4.";
}

.text__link {
  color: #f59948;
  float: right;
  position: relative;
}

.text__link::before {
  content: "";
  position: absolute;
  background-image: url("../img/ico/click.png");
  width: 6px;
  height: 7px;
  top: -10px;
  left: -8px;
}
